.accordian-container {
    border: 2px gray solid;
    border-radius: 5px;
    /* display:flex;
    flex-direction: column; */
    padding: 10px 10px;
    margin-bottom: 10px;
    /* position: relative; */
    min-width: 600px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header > h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.accordian-content-open {
   max-height: 200px;
}
.accordian-content-close {
    overflow: hidden;
    /* visibility: hidden; */
    max-height: 0;
    transition: max-height 0.3s ease-out;
}